#login a{
	color:#fff;
	text-decoration:none;
	font-size:30px;
}
#login p{
	padding-top:35px;
	padding-left:18px;
}
/* Your can customize any div how ever you want this is just an example */
#footer {
	position:fixed;
	bottom:0;
	width:100%;
	height:50px;
	background-color: rgba(0,0,0,0.8);
	z-index:3; /* <-- this plays a key roll for it to work */
}
#footer p{
	text-align:center;
	color:#fff;
	padding-top:10px;
}
